:root {
    --main-color: #256d8f;
    --black: #0000009a;
    --bg: #010103;
    --border: 0.2rem solid rgba(0, 0, 0, 0.979);
    --buttoncolor: #000000;
}
* {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/* Scroll Bar */

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
    background-color: #000000;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10rem;
}

body {
    background-color: rgb(24, 24, 24);
    background-blend-mode: multiply;
    display: block;
}

/* Header */

.header {
    background: #131313;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    border-radius: 5px;
}

.header .navbar a:hover {
    background-color: white;
    color: #000000;
    transition-delay: 0.2s;
}

/* About me */

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.aboutme {
    color: rgb(255, 255, 255);
    border-bottom: 8px solid #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 5% 20px 5%;
}
.aboutme image {
    width: 40%;
}
.aboutme h1 {
    display: grid;
    justify-items: center;
    height: 100%;

    font-size: 5rem;
}
.aboutme h1 .title_name {
    font-size: 3rem;
    color: red;
    font-weight: 400;
}
.aboutme h1 .typed {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.aboutme p {
    font-size: 2.1rem;
    padding: 10px;
    margin: 2rem;
    display: inline;
    width: 50%;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 5% 20px 5%;
    font-size: large;
}
.description .des-title {
    display: flex;
    justify-content: flex-start;
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    margin: 2rem;
}
.description .des-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.description .des-container .des-content {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    margin: 2rem;
    display: inline;
    width: 75%;
}
.description .des-container .des-content h2 {
    color: red;
}

/* Certificate */

.certificate {
    font-size: 2rem;
    background-color: #000000;
    padding: 50px 5%;
    border-bottom: 8px solid #3f3f3f;
    display: block;
    justify-content: center;
    margin: 0 auto;
}
.certificate .myCertificate .certificate_title img {
    border-radius: 30px;
}
.certificate h1 {
    margin-top: 0;
    margin-bottom: 2rem;
}
.certificate .myCertificate {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    text-align: center;
    padding: 50px;
}
.certificate .myCertificate .certificate_title {
    font-size: 1.2rem;
}
.certificate .myCertificate .cert_image {
    padding: 2rem;
    margin-bottom: 2rem;
    height: 25rem;
}
.certificate .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.certificate .popup-image span {
    position: absolute;
    top: 85px;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 100;
}
.certificate .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 1000px;
    object-fit: cover;
}
/* Footer */

.footer {
    background: var(--black);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 5% 50px 5%;
}
.footer h1 {
    display: grid;
    align-items: center;
    width: 50%;
    padding: 75px 0 75px 0;
    font-weight: 400;
    font-size: 3.125rem;
    color: #000000;
}
.footer .contact_me {
    width: 100%;
    background: rgba(255, 255, 255, 0.637);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
}
.footer .contact_me a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    color: rgb(3, 0, 0);
    border: var(--border);
    margin: 1rem;
    border-radius: 30%;
}

.footer .contact_me a:hover {
    background-color: var(--buttoncolor);
    color: rgb(255, 255, 255);
    transition-delay: 0.1s;
}

/* Media Queries */
@media (max-width: 991px) {
    .aboutme {
        display: block;
        margin: 0 auto;
        padding: 100px 5% 100px 5%;
    }
    .aboutme h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 50px 5% 50px 5%;
    }
    .footer h1 {
        width: 50%;
        padding: 100px 0 100px 0;
    }
}
@media (max-width: 768px) {
    .aboutme {
        padding: 100px 5% 100px 5%;
    }
    .footer h1 {
        width: 50%;
    }
    .certificate .popup-image img {
        width: 95%;
    }
}
@media (max-width: 600px) {
    .header .navbar a {
        font-size: 1.2rem;
    }
    .aboutme h1 {
        font-size: 5rem;
        font-weight: 400;
    }
    .aboutme p {
        font-size: 1.75rem;
        padding: 10px;
        margin: 2rem;
        display: inline;
        width: 50%;
    }

    .certificate {
        font-size: 1rem;
        padding: 10px 5%;
        border-bottom: 4px solid #3f3f3f;
        display: block;
        justify-content: center;
        margin: 0 auto;
    }
    .certificate .myCertificate .certificate_title img {
        border-radius: 30px;
    }
    .certificate .myCertificate {
        display: grid;
        align-items: end;
        gap: 1.5rem;
        text-align: center;
        padding: 10px;
    }
    .certificate .myCertificate .certificate_title {
        font-size: 1rem;
    }
    .certificate .myCertificate .cert_image {
        padding: 2rem;
        margin-bottom: 2rem;
        height: 20rem;
    }
    .footer {
        padding: 20px 5% 20px 5%;
    }
    .footer .contact_me {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer h1 {
        font-size: 2rem;
        width: 60%;
        padding: 10px 0 10px 0;
    }
}
